[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=sbs2-DataCollector
Exec=/opt/sbs2-DataCollector/bin/sbs2-DataCollector
Icon=sbs2-DataCollector64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
